@import "src/standard.scss";

.sideBar {
  position: fixed;
  background: white;
  width: $sideBarWidth;
  height: 100vh;
  top: 0;
  z-index: 3;
  transition: 0.3s;
  padding: 0 10px 0 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include tabletBreakpoint {
    padding-left: 40px;
    left: -$sideBarWidth;
  }
}

.overlay {
  background: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
}

.mobileIcon {
  display: none;
  position: absolute;
  right: -45px;
  top: 8px;
  z-index: 3;

  @include tabletBreakpoint {
    display: initial;
  }
}

.open {
  .sideBar {
    left: 0;
  }

  .mobileIcon {
    right: 8px;
  }

  .overlay {
    @include tabletBreakpoint {
      display: initial;
    }
  }
}