@import 'src/standard.scss';

$aspectRatio: 349px / 525px;

$width: 525px;

.page {
    @include overflowPageMarginBottom;
}

.wrapper {
    max-width: $width;
    width: 100%;
    margin: 0 auto;
}

.video {
    max-width: $width;
    height: $width * $aspectRatio;
}

.largeImage {
    width: 100%;
    height: auto;
}

.smallImage {
    width: 48%;
    height: auto;
}