@import "src/standard.scss";

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: $sideBarWidth auto;
  grid-template-areas: "sideBar pageBody";
  width: 100vw;

  @include tabletBreakpoint {
    grid-template-columns: auto;
    grid-template-areas: "pageBody";
  }
}

.sideBarGrid {
  padding-top: 45px;
  grid-template: "sideBar";

  @include mobileBreakpoint {
    padding-top: 0;
  }
}

.pageBody {
  grid-template: "pageBody";
}