.wrapper {
  padding: 60px;
  display: grid;
  grid-template-columns: 170px auto;
  grid-template-areas: "sideBar pageBody";
}

.sideBarGrid {
  grid-template: "sideBar";
}

.sideBarFixed {
  position: fixed;
}

.pageBody {
  grid-template: "pageBody";
}
