@import "src/standard.scss";

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: $sideBarWidth auto;
  grid-template-areas: "sideBar pageBody";

  @include mobileBreakpoint {
    grid-template-columns: auto;
    grid-template-areas: "pageBody";
  }
}

.sideBarGrid {
  padding-top: 45px;
  grid-template: "sideBar";
}

.pageBody {
  grid-template: "pageBody";
}
