@import "src/standard.scss";

$logoHeight: 90px;
$logoMarginTop: 10px;
$logoMarginBottom: 10px;

:export {
  logoheight: $logoHeight + $logoMarginTop + $logoMarginBottom;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  z-index: 2;
}

.logo {
  margin-top: $logoMarginTop;
  margin-bottom: $logoMarginBottom;
  height: $logoHeight;
}

.title {
  font-weight: 100;
  width: 100vw;
  background: white;
  text-align: center;
  margin: 0;
  height: $headerHeight;
}

.titleSpacer {
  height: $headerHeight;
}

.fixed {
  position: fixed;
}