@import 'src/standard.scss';

.title {
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  @include mobileBreakpoint {
    text-align: center;
  }
}

.text {
  font-size: 13px;
  text-transform: uppercase;
}