$aspectRatio:1;

$height: 300px;

.mask {
    width: $height - 2px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video {
    height: $height;
}