@import 'src/standard.scss';

$margin: 2%;

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
}

.box {
  margin: $margin;
  width: 33% - 2 * $margin;
  padding-top: 33% - 2 * $margin;
  position: relative;
}