@import 'src/standard.scss';

.wrapper {
  padding-top: 0;

  @include mobileBreakpoint {
    flex-direction: column;
  }
}

.images {
  margin-top: -10px;

  @include mobileBreakpoint {
    margin-bottom: 20px;
    margin-top: -$headerHeight;
  }
}