@import 'src/standard.scss';

$margin: 2%;

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  margin: $margin;
  width: 33% - 2 * $margin;
  padding-top: 33% - 2 * $margin;
  position: relative;
}