$aspectRatio: 1;

$height: 300px;

.link {
  text-decoration: none;
}

.page {
  padding-bottom: 0;
}

.video {
  max-width: $height;
  height: $height * $aspectRatio;
  display: block;
  margin: 0 auto;
}
