$sideBarWidth: 250px;
$headerHeight: 50px;

$homeSquareHeight: 150px;


@mixin overflowPageMarginBottom {
  margin-bottom: 60px;
}

@mixin tabletBreakpoint {
  @media only screen and (max-width: 920px) {
    @content;
  }
}

@mixin mobileBreakpoint {
  @media only screen and (max-width: 650px) {
    @content;
  }
}