$color-1: red;
$color-2: blue;

.theme-text-1 {
  color: $color-1;
}

.theme-text-2 {
  color: $color-2;
}

.theme-background-1 {
  background: $color-1;
}

.theme-background-2 {
  background: $color-2;
}
